<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <script src="https://cdn.rawgit.com/bradley/Blotter/master/build/blotter.min.js"></script>
    <script src="https://rawgit.com/bradley/Blotter/master/build/materials/liquidDistortMaterial.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <nav class="flex items-center justify-between sticky top-0 py-2 px-4 bg-white kanit-extrabold text-3xl text-base1 z-40">
        <button id="menu-toggle" class="block md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <div class="hidden md:flex space-x-4">
            <a href="{{ site.baseurl }}/releases">releases</a>
            <a href="{{ site.baseurl }}/dates">dates</a>
        </div>
        <nav class="w-44">{% picture jpt-webp  "base/logo.jpg" --link {{ site.baseurl }}/ %}</nav>
        <div class="hidden md:flex space-x-4">
            <a href="{{ site.baseurl }}/about">about</a>
            <a href="{{ site.baseurl }}/contact">contact</a>
        </div>
    </nav>

    <div id="mobile-menu" class="hidden fixed inset-0 bg-gray-900 bg-opacity-85 p-4 justify-center z-20">
        <div class="flex flex-col py-16 items-center justify-center h-full">
            <a href="{{ site.baseurl }}/releases" class="text-white text-4xl kanit-extrabold hover:text-gray-200">releases</a>
            <a href="{{ site.baseurl }}/dates" class="text-white text-4xl kanit-extrabold hover:text-gray-200">dates</a>
            <a href="{{ site.baseurl }}/about" class="text-white text-4xl kanit-extrabold hover:text-gray-200">about</a>
            <a href="{{ site.baseurl }}/contact" class="text-white text-4xl kanit-extrabold hover:text-gray-200">contact</a>
        </div>
    </div> 
    {{ content }}
    <footer class="fixed bottom-0 z-40 w-full">
      <nav class="bg-pink-600 flex justify-between sticky top-0 py-2 px-4 kanit-extrabold text-3xl text-base1">
        <a href="https://www.instagram.com/nofutureb3rl1n/" class="text-gray-800 hover:text-gray-900">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://soundcloud.com/nofutureberlin" class="text-gray-800 hover:text-gray-900">
          <i class="fa-brands fa-soundcloud"></i>
        </a>
        <a href="https://nofutureberlin.bandcamp.com/" class="text-gray-800 hover:text-gray-900">
          <i class="fa-brands fa-bandcamp"></i>
        </a>
      </div>
    </footer>
    <script>
      const menuToggle = document.getElementById('menu-toggle');
      const mobileMenu = document.getElementById('mobile-menu');
    
      menuToggle.addEventListener('click', () => {
          mobileMenu.classList.toggle('hidden');
      });
    </script>
  </body>
</html>

